@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/general-sans');

*,
html,
body,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
ol {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}

:root {
  --primary-color: #ff5500;
  --secondary-color: #ffb445;
  --background-color: #ffffff;
  --text-color: #000000;

  --font-base: 'Inter', sans-serif;
  --font-secondary: 'General Sans', sans-serif;
  --font-size-base: 16px;
  --line-height-base: 1.5;
}

body {
  font-family: var(--font-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--text-color);
}

.heading-h1 {
  color: var(--text-color);
  font-family: var(--font-base);
  font-size: 96px;
  font-weight: 700;
  line-height: 100%; /* 96px */
  letter-spacing: -2.88px;
}

@media (max-width: 1024px) {
  .heading-h1 {
    font-size: 64px;
    letter-spacing: -0.88px;
  }
}

@media (max-width: 991px) {
  .heading-h1 {
    font-size: 36px;
    letter-spacing: -1.08px;
    line-height: 100%;
  }
}

.heading-h2 {
  color: var(--text-color);
  font-family: var(--font-base);
  font-size: 64px;
  font-weight: 600;
  line-height: 120%; /* 48px */
  letter-spacing: -0.96px;
}

@media (max-width: 1024px) {
  .heading-h2 {
    font-size: 42px;
    letter-spacing: -0.16px;
  }
}

@media (max-width: 991px) {
  .heading-h2 {
    font-size: 28px;
    letter-spacing: -0.84px;
  }
}

.heading-h3 {
  color: var(--text-color);
  font-family: var(--font-base);
  font-size: 48px;
  font-weight: 400;
  line-height: 100%; /* 48px */
  letter-spacing: -1.44px;
}

@media (max-width: 991px) {
  .heading-h3 {
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -0.72px;
  }
}

.desc {
  color: rgba(0, 0, 0, 0.7);
  font-family: var(--font-base);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: -0.16px;
}

.desc {
  span {
    font-weight: 500;
    color: var(--text-color);
  }
}

.btn-link {
  color: var(--text-color);
  font-family: var(--font-base);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 16.8px */
  letter-spacing: -0.14px;

  dispay: inline-flex;
  gap: 8px;
  align-items: center;
}

.btn-link span {
  text-decoration: underline;
}

.btn-primary {
  display: inline-flex;
  padding: 20px 40px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 56px;
  background-color: var(--primary-color);

  color: #fff;
  text-transform: capitalize;
  font-family: var(--font-base);
  font-size: 16px;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
  letter-spacing: -0.16px;
}

.btn-outline {
  display: inline-flex;
  padding: 20px 40px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 56px;
  border: 1px solid #d5d5d5;
  background-color: transparent;

  color: var(--primary-color);
  text-transform: capitalize;
  font-family: var(--font-base);
  font-size: 16px;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
  letter-spacing: -0.16px;
}

.btn-outline_v2 {
  display: inline-flex;
  padding: 20px 40px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 56px;
  border: 1px solid #fff;
  background-color: transparent;

  color: #000;
  text-transform: capitalize;
  font-family: var(--font-base);
  font-size: 16px;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
  letter-spacing: -0.16px;
}

.btn-secondary {
  display: inline-flex;
  padding: 18px 40px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 56px;
  background-color: #000;

  color: #fff;
  text-transform: capitalize;
  font-family: var(--font-base);
  font-size: 16px;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
  letter-spacing: -0.16px;
}

.btn-light {
  display: inline-flex;
  padding: 18px 40px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 56px;
  background-color: #fff;

  color: var(--text-color);
  text-transform: capitalize;
  font-family: var(--font-base);
  font-size: 16px;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
  letter-spacing: -0.16px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 80px;
}

@media (max-width: 1024px) {
  .container {
    max-width: 1440px;
    padding: 0 24px;
  }
}

/* header */
.header {
  overflow: hidden;
}

@media (max-width: 1024px) {
  .header {
    padding-top: 44px;
    padding-bottom: 40px;
  }
}

.header__wrapper {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

.header .container {
  padding-block: 80px;
}

@media (max-width: 1024px) {
  .header .container {
    padding-block: unset;
  }
}

.header-wrap {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media (max-width: 991px) {
  .header-wrap {
    gap: 32px;
  }
}

.subtitle {
  color: var(--secondary-color);
  font-family: var(--font-base);
  font-size: 20px;
  font-weight: 500;
  line-height: 140%; /* 28px */
  letter-spacing: -0.6px;
}

.header-label {
  color: var(--text-color);
  font-family: var(--font-base);
  font-size: 16px;
  font-weight: 400;
  line-height: 100%; /* 16px */
  letter-spacing: -0.16px;
  flex-shrink: 0;
  text-align: center;

  display: inline-flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 200px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

@media (max-width: 991px) {
  .header-label {
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.14px;
  }
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 991px) {
  .header-top {
    flex-direction: column;
    text-align: center;
    gap: 24px;
  }
}

.header-top__left {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header-top__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 40px;
  flex-shrink: 0;
}

@media (max-width: 991px) {
  .header-top__right {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 8px;
    flex-shrink: unset;
  }
}

.header-bottom__buttons {
  display: inline-flex;
  flex-direction: column;
  gap: 16px;
}

.header-bottom__buttons .mobile {
  display: none;
}

@media (max-width: 991px) {
  .header-bottom__buttons {
    width: 100%;
  }

  .header-bottom__buttons .mobile {
    display: inline-flex;
  }
}

.profilePic-item {
  max-width: 80px;
  max-height: 80px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .profilePic-item {
    max-width: 64px;
    max-height: 64px;
  }
}

.profilePic-item:not(:first-child) {
  margin-left: -16px;
}

.link-add {
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin-left: -16px;
}

@media (max-width: 1024px) {
  .link-add {
    max-width: 32px;
    max-height: 32px;
  }
}

.header-bottom__profilePic {
  display: inline-flex;
  align-items: center;
}

.header-bottom__right .img-preview {
  width: 100%;
  border-radius: 40px;
  object-fit: cover;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}

@media (max-width: 991px) {
  .header-bottom {
    flex-direction: column;
    gap: 24px;
  }
}

.header-bottom__left {
  display: flex;
  flex-direction: column;
  gap: 78px;
}

@media (max-width: 1024px) {
  .header-bottom__left {
    gap: 42px;
  }
}

@media (max-width: 991px) {
  .header-bottom__left {
    gap: 24px;
    align-items: center;
    text-align: center;
  }
}

.header-bottom__subtext {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}

@media (max-width: 1024px) {
  .header-bottom__subtext {
    gap: 24px;
  }
}

.line {
  border: 1px solid #e6e6e6;
}

.header-bottom__right {
  display: flex;
  position: relative;
}

.header-bottom__right-buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-top: 16px;
  padding-left: 16px;
  background-color: #fff;
  border-top-left-radius: 40px;
}

@media (max-width: 991px) {
  .header-bottom__right-buttons {
    display: none;
  }
}

.header-bottom__right-buttons .btn-secondary {
  position: relative;
  z-index: 2;
}

.ornamen-header-wrap .ornamen-header:nth-child(1) {
  position: absolute;
  bottom: 0;
  right: 100%;
  max-width: 38px;
  width: 100%;
  z-index: 1;
}

.ornamen-header-wrap .ornamen-header:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 38px;
  width: 100%;
  z-index: 1;
}

.ornamen-header-wrap .ornamen-header:nth-child(3) {
  position: absolute;
  bottom: 100%;
  right: 0;
  max-width: 100%;
}

.header__ornament {
  position: absolute;
  bottom: -162px;
  left: 253px;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .header__ornament {
    display: none;
  }
}

/* Kotaro Story */
.kotaro-story {
  background-color: #000000;
}

.kotaro-story__wrapper {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  padding: 104px 0;
}

@media (max-width: 1024px) {
  .kotaro-story__wrapper {
    padding: 40px 0;
  }
}

.kotaro-story__label {
  color: #fff;
  font-family: var(--font-base);
  font-size: 16px;
  font-weight: 500;
  line-height: 100%; /* 16px */
  letter-spacing: -0.16px;
  text-align: center;

  display: inline-flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 200px;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

@media (max-width: 991px) {
  .kotaro-story__label {
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.14px;
  }
}

.kotaro-story__top-left .heading-h2 {
  color: #fff;
  font-size: 48px;
  text-transform: uppercase;
  max-width: 1065px;
  width: 100%;
}

.kotaro-story__top-left .heading-h2 img {
  max-width: 40px;
  width: 100%;
}

@media (max-width: 1024px) {
  .kotaro-story__top-left .heading-h2 {
    font-size: 42px;
  }
}

@media (max-width: 991px) {
  .kotaro-story__top-left .heading-h2 {
    font-size: 24px;
  }

  .kotaro-story__top-left .heading-h2 img {
    max-width: 24px;
    width: 100%;
  }
}

.kotaro-story__desc {
  max-width: 628px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media (max-width: 1024px) {
  .kotaro-story__desc {
    max-width: 100%;
    gap: 16px;
  }
}

.kotaro-story__desc .desc {
  color: #fff;
}

.kotaro-story__top-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.kotaro-story__top-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 40px;
  max-width: 419px;
}

@media (max-width: 1024px) {
  .kotaro-story__top-right {
    display: none;
  }
}

.kotaro-story__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.kotaro-story__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .kotaro-story__bottom {
    flex-direction: column;
    gap: 32px;
  }
}

.kotaro-story__bottom .kotaro-story__img {
  max-width: 522px;
}

@media (max-width: 1024px) {
  .kotaro-story__bottom .kotaro-story__img {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

.kotaro-story__bottom .kotaro-story__img img {
  width: 100%;
  border-radius: 40px;
  object-fit: cover;
}

.kotaro-story__bottom .kotaro-story__img img.mobile {
  display: none;
}

@media (max-width: 1024px) {
  .kotaro-story__bottom .kotaro-story__img img,
  .kotaro-story__bottom .kotaro-story__img img.mobile {
    border-radius: 24px;
    display: flex;
    max-height: 495.448px;
  }
}

.kotaro-story__img-decoration {
  max-width: 187px;
  border-radius: 40px;
  display: flex;
}

@media (max-width: 1024px) {
  .kotaro-story__img-decoration {
    max-width: 100%;
    border-radius: 24px;
  }
}

.kotaro-story__wrap {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .kotaro-story__wrap {
    gap: 24px;
  }
}

/* featured project */
.featured-project {
  overflow: hidden;
}

.featured-project__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding-block: 104px;
  position: relative;
}

@media (max-width: 991px) {
  .featured-project__wrapper {
    padding-block: 40px;
  }
}

.featured__ornament {
  position: absolute;
  bottom: 50%;
  right: -361px;
  transform: translate(0, 50%);
  overflow: hidden;
  z-index: -1;
}

@media (max-width: 991px) {
  .featured__ornament {
    bottom: unset;
    top: 94px;
    right: -96px;
    transform: unset;
    max-width: 192.015px;
  }
}

.featured-project__wrap {
  display: flex;
  flex-direction: column;
  gap: 56px;
}

@media (max-width: 991px) {
  .featured-project__wrap {
    gap: 32px;
  }
}

.label-secondary {
  color: var(--secondary-color);
  font-family: var(--font-base);
  font-size: 16px;
  font-weight: 500;
  line-height: 100%; /* 16px */
  letter-spacing: -0.16px;
  text-align: center;

  display: inline-flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 200px;
  background: rgba(255, 180, 69, 0.12);
}

@media (max-width: 991px) {
  .label-secondary {
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.14px;
  }
}

.featured-project__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.featured-project__bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

@media (max-width: 991px) {
  .featured-project__bottom {
    grid-template-columns: repeat(1, 1fr);
  }
}

.featured-project__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 67px;
  padding: 40px;
  border-radius: 32px;
  background-color: #f8f8f8;
}

@media (max-width: 1024px) {
  .featured-project__card {
    gap: 24px;
    padding: 24px;
    border-radius: 24px;
  }
}

.featured-project__card img {
  max-width: 80px;
  max-height: 80px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.featured-project__card-body-desc {
  color: var(--text-color);
  font-family: var(--font-base);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.98px;
}

/* inovation */
.inovation {
  padding-block: 104px;
}

@media (max-width: 991px) {
  .inovation {
    padding-block: 40px;
  }
}

.inovation-wrap {
  display: flex;
  flex-direction: column;
  gap: 56px;
}

@media (max-width: 991px) {
  .inovation-wrap {
    gap: 32px;
  }
}

.inovation-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

@media (max-width: 991px) {
  .inovation-top {
    gap: 16px;
  }
}

.inovation-top .desc {
  max-width: 842px;
  text-align: center;
}

.inovation-center {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

@media (max-width: 991px) {
  .inovation-center {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
  }
}

.inovation__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 43px;
}

@media (max-width: 991px) {
  .inovation__card {
    gap: 24px;
  }
}

.inovation__card .inovation__card-img {
  max-width: 100%;
  border-radius: 32px;
  overflow: hidden;
}

.inovation__card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

@media (max-width: 991px) {
  .inovation__card-body {
    gap: 20px;
  }
}

.inovation__card-body .inovation__card-body-desc {
  color: var(--text-color);
  font-family: var(--font-base);
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.54px;
  max-width: 304px;
  width: 100%;
  text-align: center;
}

.inovation__card:nth-child(odd) {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 43px;
}

@media (max-width: 991px) {
  .inovation__card:nth-child(odd) {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 24px;
  }
}

.inovation__card:nth-child(odd) .inovation__card-body .inovation__card-ornamen {
  max-width: 32px;
  width: 100%;
}

.inovation__card:nth-child(even) {
  flex-direction: column-reverse;
  border-top: 1px solid #e6e6e6;
  padding-top: 32px;
}

@media (max-width: 991px) {
  .inovation__card:nth-child(even) {
    flex-direction: column;
    border-top: unset;
    padding-top: unset;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 32px;
  }
}

.inovation__card:nth-child(even) .inovation__card-body {
  flex-direction: column-reverse;
}

.inovation-bottom {
  text-align: center;
}

/* philosophy */
@media (max-width: 991px) {
  .philosophy {
    overflow: hidden;
  }
}

.philosophy-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  padding-block: 104px;
}

@media (max-width: 991px) {
  .philosophy-wrapper {
    padding-block: 40px;
  }
}

.philosophy__ornament {
  max-width: 406.37px;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: -112px;
  left: -206px;
}

@media (max-width: 991px) {
  .philosophy__ornament {
    max-width: 155.233px;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 242px;
    left: unset;
    right: -98px;
  }
}

.philosophy-wrap {
  display: flex;
  flex-direction: column;
  gap: 56px;
}

@media (max-width: 991px) {
  .philosophy-wrap {
    gap: 32px;
  }
}

.philosophy-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

@media (max-width: 991px) {
  .philosophy-top {
    gap: 16px;
  }
}

.philosophy-subtext {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

@media (max-width: 991px) {
  .philosophy-subtext {
    gap: 16px;
  }
}

.philosophy-bottom {
  display: flex;
  justify-content: space-between;
  padding-block: 40px;
  border-block: 1px solid #e6e6e6;
}

@media (max-width: 991px) {
  .philosophy-bottom {
    padding-block: 32px;
    flex-direction: column;
    gap: 24px;
  }
}

.philosophy-card {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.philosophy-card .philosophy-card__icon {
  max-width: 40px;
  width: 100%;
}

.philosophy-card .philosophy-card__body {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 227px;
}

@media (max-width: 991px) {
  .philosophy-card .philosophy-card__body {
    max-width: 100%;
  }
}

.philosophy-card .philosophy-title {
  color: var(--text-color);
  font-family: var(--font-base);
  font-size: 40px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -1.2px;
}

.philosophy-card .philosophy-desc {
  color: rgba(0, 0, 0, 0.7);
  font-family: var(--font-base);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.16px;
}

.line-vertical {
  width: 1px;
  background-color: #e6e6e6;
}

@media (max-width: 991px) {
  .line-vertical {
    width: 100%;
    height: 1px;
  }
}

/* cta */
.cta {
  padding-block: 40px;
}

.cta .container {
  padding: 0 40px;
}

@media (max-width: 991px) {
  .cta .container {
    padding: 0 24px;
  }
}

.cta-wrap {
  background-color: var(--secondary-color);
  padding: 80px;
  position: relative;
  border-radius: 40px;
  overflow: hidden;
  background-image: url('../assets/cta__ornament.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 991px) {
  .cta-wrap {
    padding: 40px 24px;
    border-radius: 24px;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}

.label-tertiary {
  color: #ffffff;
  font-family: var(--font-base);
  font-size: 16px;
  font-weight: 500;
  line-height: 100%; /* 16px */
  letter-spacing: -0.16px;
  background: rgba(0, 0, 0, 0.08);
  text-align: center;

  display: inline-flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 200px;
}

@media (max-width: 991px) {
  .label-tertiary {
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.14px;
  }
}

.cta-left {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 478px;
}

@media (max-width: 991px) {
  .cta-left {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 100%;
    padding-right: 24px;
  }
}

.cta-left__wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.cta-subtext {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.cta-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  max-width: fit-content;
  width: 100%;
}

@media (max-width: 991px) {
  .cta-buttons {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .cta-buttons {
    max-width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
}

.cta-buttons .btn-outline_v2 {
  grid-column: span 2 / span 2;
}

@media (max-width: 767px) {
  .cta-buttons .btn-outline_v2 {
    grid-column: span 1 / span 1;
  }
}

.cta-img {
  max-width: 818px;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (max-width: 991px) {
  .cta-img {
    max-width: 818px;
    width: 100%;
    position: relative;
    bottom: 0;
    right: 0;
  }
}

/* seo */
.seo .container {
  padding-top: 40px;
  padding-bottom: 80px;
  padding-inline: 40px;
  position: relative;
}

@media (max-width: 991px) {
  .seo .container {
    padding-bottom: 40px;
    padding-inline: 24px;
    position: relative;
  }
}

.seo .heading-h2 .span-primary {
  color: var(--primary-color);
}

.seo .heading-h2 .span-secondary {
  color: var(--secondary-color);
}

.seo .seo__img {
  position: absolute;
  bottom: 40px;
  left: -209px;
  max-width: 426.033px;
}

@media (max-width: 991px) {
  .seo .seo__img {
    position: absolute;
    bottom: 184px;
    left: -78px;
    max-width: 143.033px;
  }
}

.category {
  display: inline-flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 200px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: rgba(255, 255, 255, 0.75);

  color: var(--text-color);
  font-family: var(--font-base);
  font-size: 16px;
  font-weight: 400;
  line-height: 100%; /* 16px */
  letter-spacing: -0.16px;
}

.seo__categories {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

@media (max-width: 991px) {
  .seo__categories {
    align-items: center;
    justify-content: center;
  }
}

.seo__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  position: relative;
  z-index: 1;
}

.seo .heading-h2 {
  max-width: 738px;
  text-align: center;
}

.seo .desc {
  max-width: 796px;
  text-align: center;
}

/* footer */
.footer .container {
  padding-top: 32px;
  padding-bottom: 40px;
  border-top: 1px solid #e6e6e6;
}

.footer__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

@media (max-width: 991px) {
  .footer__wrap {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
}

.footer__link {
  color: rgba(0, 0, 0, 0.7);
  font-family: var(--font-base);
  font-size: 16px;
  font-weight: 400;
  line-height: 100%; /* 16px */
  letter-spacing: -0.16px;
}

.footer__text {
  color: rgba(0, 0, 0, 0.7);
  text-align: right;
  font-family: var(--font-base);
  font-size: 16px;
  font-weight: 400;
  line-height: 100%; /* 16px */
  letter-spacing: -0.16px;
}

/* navbar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  border-bottom: 1px solid #e6e6e6;
}

@media (max-width: 1024px) {
  .navbar {
    display: none;
  }
}

.nav-link {
  color: var(--text-color);
  font-family: var(--font-secondary);
  font-size: 16px;
  font-weight: 400;
  line-height: 100%; /* 16px */
  letter-spacing: -0.16px;
}

.nav-menu {
  display: inline-flex;
  align-items: center;
  gap: 24px;
}

.btn-link {
  color: var(--text-color);
  font-family: var(--font-base);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 16.8px */
  letter-spacing: -0.14px;

  dispay: inline-flex;
  gap: 8px;
  align-items: center;
}

.btn-link span {
  text-decoration: underline;
}
